<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"> Filter By: </div>
            <div class="col-md-4">
                <input type="text" />
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6"> <h3>Filter By:</h3></div>
            </div>
        </div>
    <div class="table-responsive">
    <table class="table" 
            *ngIf='products && products.length'> 
        <thead>
            <tr>
                <th>
                    <button class="btn btn-primary" (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
                </th>
                <th>Product</th>
                <th>Code</th>
                
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tr *ngFor='let prod of products'>
                <td><img [src]='prod.imageUrl'
                    [style.width.px]= 'imageWidth'
                    [style.margin.px]= 'imageLength'
                    *ngIf=showImage/></td>
                <td>{{prod.productName}}</td>
                <td>{{prod.productCode}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.starRating}}</td>

        </tr>
    </table>
    </div>
    </div>    
</div>